.footer-container {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #CDC1FF, #e0e0e0);
    padding: 50px;
  }
  
  .footer-section {
    margin-bottom: 30px;
  }
  
  .footer-logo {
    width: 100px; /* Adjust logo size as needed */
    margin-bottom: 10px;
  }
  
  .footer-title {
    margin-bottom: 10px;
  }
  
  .contact-list,
  .category-list {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-links a {
    font-size: 1.5rem;
    color: #333;
  }
  
  .copyright {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }